---
layout: default
permalink: /en/
---

{% assign content = site.data.profile_en %}
{% assign content_common = site.data.profile %}
<div class="content">

  {% assign section = content.experience %}
  <div class="section">
    <div class="title">Experience</div>
    {% if section.desc %}
    <div class="desc">{{ section.desc }}</div>
    {% endif %}
    <ol class="post-list">
      {% for obj in section.data %}
        <li>
          <div class="title">
            <h2 class="post-list__post-title post-title">{% if obj.image %}<img src="/images/{{obj.image}}">{% endif %}{{ obj.title }}</h2>
            {% if obj.excerpt %}
            <p class="excerpt">&hellip;{{ obj.excerpt }}</p>
            {% endif %}
          </div>
          {% if obj.tag %}
          <ol class="tag-list no-margin clear">
            {% for tag in obj.tag %}
            <li class="tagbox tagbox-{{tag.tag}}">{{ tag.name }}</li>
            {% endfor %}
          </ol>
          {% endif %}
          <div class="post-list__meta"><time class="post-list__meta--date date">{{ obj.time }}</time></div>
          <div class="text">
            {{ obj.summary | markdownify }}
          </div>
        </li>
      {% endfor %}
    </ol>
  </div>

  {% assign section = content.education %}
  <div class="section">
    <div class="title">Education</div>
    {% if section.desc %}
    <div class="desc">{{ section.desc }}</div>
    {% endif %}
    <ol class="post-list">
      {% for obj in section.data %}
        <li>
          <div class="title">
            <h2 class="post-list__post-title post-title">{% if obj.image %}<img src="/images/{{obj.image}}">{% endif %}{{ obj.title }}</h2>
            {% if obj.excerpt %}
            <p class="excerpt">&hellip;{{ obj.excerpt }}</p>
            {% endif %}
          </div>
          <div class="post-list__meta"><time class="post-list__meta--date date">{{ obj.time }}</time></div>
          <div class="text">
            {{ obj.summary | markdownify }}
          </div>
        </li>
      {% endfor %}
    </ol>
  </div>

  {% assign section = content.paper %}
  <div class="section">
    <div class="title">Paper</div>
    {% if section.desc %}
    <div class="desc">{{ section.desc }}</div>
    {% endif %}
    <ol class="post-list">
      {% for obj in section.data %}
        <li>
          <div class="title">
            <h2 class="post-list__post-title post-title">{{ obj.title }}</h2>
            {% if obj.excerpt %}
            <p class="excerpt">&hellip;{{ obj.excerpt }}</p>
            {% endif %}
          </div>
          <div class="post-list__meta"><time class="post-list__meta--date date">{{ obj.time }}</time></div>
          <div class="text">
            {{ obj.summary | markdownify }}
          </div>
        </li>
      {% endfor %}
    </ol>
  </div>

  {% assign section = content.project %}
  <div class="section">
    <div class="title">Project</div>
    {% if section.desc %}
    <div class="desc">{{ section.desc }}</div>
    {% endif %}
    <ol class="post-list">
      {% for obj in section.data %}
        <li>
          <div class="title">
            <h2 class="post-list__post-title post-title">{{ obj.title }}</h2>
            {% if obj.excerpt %}
            <p class="excerpt">&hellip;{{ obj.excerpt }}</p>
            {% endif %}
          </div>
          {% if obj.tag %}
          <ol class="tag-list no-margin clear">
            {% for tag in obj.tag %}
            <li class="tagbox tagbox-{{tag.tag}}">{{ tag.name }}</li>
            {% endfor %}
          </ol>
          {% endif %}
          <div class="post-list__meta"><time class="post-list__meta--date date">{{ obj.time }}</time></div>
          <div class="text">
            {{ obj.summary | markdownify }}
          </div>
        </li>
      {% endfor %}
    </ol>
  </div>

  {% assign section = content_common.opensource %}
  <div class="section">
    <div class="title">Opensource Contribution</div>
    {% if section.desc %}
    <div class="desc">{{ section.desc }}</div>
    {% endif %}
    <ol class="ticket-list no-margin clear">
      {% for obj in section.data %}
      <a href="{{ obj.link }}" target="_blank"><li>{{ obj.title }}</li></a>
      {% endfor %}
    </ol>
  </div>

  {% assign section = content_common.lang %}
  <div class="section">
    <div class="title">Programming language</div>
    {% if section.desc %}
    <div class="desc">{{ section.desc }}</div>
    {% endif %}
    <ol class="tag-list no-margin clear">
      {% for obj in section.data %}
      <li class="tagbox tagbox-{{obj.tag}}">{{ obj.title }}</li>
      {% endfor %}
    </ol>
  </div>

  {% assign section = content_common.framework %}
  <div class="section">
    <div class="title">Framework & Platform</div>
    {% if section.desc %}
    <div class="desc">{{ section.desc }}</div>
    {% endif %}
    <ol class="tag-list no-margin clear">
      {% for obj in section.data %}
      <li class="tagbox tagbox-{{obj.tag}}">{{ obj.title }}</li>
      {% endfor %}
    </ol>
  </div>


  <!--
  <hr class="post-list__divider ">

  {% if paginator.previous_page or paginator.next_page %}
      {% include pagination.html %}
  {% endif %}
  -->

</div>
