<span class="mobile btn-mobile-menu">
  <i class="icon icon-list btn-mobile-menu__icon"></i>
  <i class="icon icon-x-circle btn-mobile-close__icon hidden"></i>
</span>
  
<header class="panel-cover panel-cover--collapsed" style="background-image: url({{ "images/cover.jpg" | prepend: site.baseurl }})">
  <div id="bg" style="position: absolute; top:0; left:0; width: 100%; overflow: hidden;"></div>
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">
        <a href="{{ site.baseurl }}" title="link to home of {{ site.title }}">
          <img src="{{ "images/profile.jpg" | prepend: site.baseurl }}" class="user-image" alt="My Profile Photo">
          <!--
          <div class="qube_s">
            <div class="ear left"></div>
            <div class="ear right"></div>
            <div class="eye left">
              <div class="pupil"></div>
              <div class="highlight h_left"></div>
            </div>
            <div class="eye right">
              <div class="pupil"></div>
              <div class="highlight h_right"></div>
            </div>
            
            <div class="mouth left"></div>
            <div class="mouth right"></div>
          </div>
          -->

          <h1 class="panel-cover__title panel-title">{{ site.data.profile.profile.name }}</h1>
        </a>
        <hr class="panel-cover__divider">
        <p class="panel-cover__description">{{ site.data.profile.profile.description }}</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary">

        <div class="navigation-wrapper">

          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              <li class="navigation__item"><a href="{{ site.baseurl }}#blog" title="link to {{ site.title }} blog" class="blog-button">KO</a></li>
              <li class="navigation__item"><a href="{{ site.baseurl }}en/#blog" title="link to {{ site.title }} blog" class="blog-button">EN</a></li>
            </ul>
          </nav>

          <nav class="cover-navigation navigation--social">
            <ul class="navigation">
          
            {% if site.data.profile.profile.twitter %}
              <!-- Twitter -->
              <li class="navigation__item">
                <a href="http://twitter.com/{{ site.data.profile.profile.twitter }}" title="@{{ site.data.profile.profile.twitter }} on Twitter" target="_blank">
                  <i class="icon icon-social-twitter"></i>
                  <span class="label">Twitter</span>
                </a>
              </li>
            {% endif %}

            {% if site.data.profile.profile.facebook %}
              <!-- Facebook -->
              <li class="navigation__item">
                <a href="http://fb.me/{{ site.data.profile.profile.facebook }}" title="{{ site.data.profile.profile.facebook }} on Facebook" target="_blank">
                  <i class="icon icon-social-facebook"></i>
                  <span class="label">Facebook</span>
                </a>
              </li>
            {% endif %}

            {% if site.data.profile.profile.linkedin %}
              <!-- LinkedIn -->
              <li class="navigation__item">
                <a href="https://www.linkedin.com/in/{{ site.data.profile.profile.linkedin }}" title="{{ site.data.profile.profile.linkedin }} on LinkedIn" target="_blank">
                  <i class="icon icon-social-linkedin"></i>
                  <span class="label">LinkedIn</span>
                </a>
              </li>
            {% endif %}

            {% if site.data.profile.profile.github %}
              <!-- GitHub -->
              <li class="navigation__item">
                <a href="https://www.github.com/{{ site.data.profile.profile.github }}" title="{{ site.data.profile.profile.github }} on GitHub" target="_blank">
                  <i class="icon icon-social-github"></i>
                  <span class="label">GitHub</span>
                </a>
              </li>
            {% endif %}

            {% if site.data.profile.profile.email %}
              <!-- Email -->
              <li class="navigation__item">
                <a href="mailto:{{ site.data.profile.profile.email }}" title="Email {{ site.data.profile.profile.email }}" target="_blank">
                  <i class="icon icon-mail"></i>
                  <span class="label">Email</span>
                </a>
              </li>
            {% endif %}

{% comment %}
            <!-- RSS -->
<!--
            <li class="navigation__item">
              <a href="{{ "feed.xml" | prepend: site.baseurl }}" title="Subscribe" target="_blank">
                <i class="icon icon-rss"></i>
                <span class="label">RSS</span>
              </a>
            </li>
-->
{% endcomment %}    
      
            </ul>
          </nav>

        </div>

      </div>

    </div>

    <div class="panel-cover--overlay"></div>
  </div>
</header>
